* {
    box-sizing: border-box;
    text-decoration: none;
}

.container-fill {
    display: flex;
    width: 100%;
    height: 80vh;
    border-radius: 8px;
    box-shadow: 4px 8px 10px #ccc;
    background: #fff;
}
.slide-view {
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 500px;
    height: 100%;
    background: #ccc;
    overflow: hidden;
}
.slide-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
    height: 100%;
    transform: translateX(-100%);
}

.slide-item {
    flex-shrink: 0;
    width: 500px;
    height: 100%;
}
.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: initial;
    color: #787a7c;
    z-index: 1000;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.btn :hover {
    color: #cccccc;
}
.next-btn {
    right: 0;
}
.slide-around {
    bottom: 5px;
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    gap: 8px;
}
.slide-around-item {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
}
.slide-around .active {
    height: 35px;
    width: 35px;
    border: 5px solid #fff;
}
/* live-code-editor */
.container {
    width: 100vw;
    height: 100vh;
    background: #fff;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 10px;
}
.preview {
    width: 50%;
    height: 100%;
    border: 2px solid #fff;
    background: initial;
    color: #fff;
}
#codeInput {
    padding: 40px;
    display: block;
    width: 50%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
    background: initial;
    color: #fff;
}
/* index.html */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    gap: 10px;
}
.card-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 2px 3px 4px #ccc;
    color: rgb(239, 250, 215);
    background: #e2abab;
    cursor: pointer;
    font-size: 24px;
    transition: all ease 1s;
}
.card-block:hover {
    background: #17f835;
}
.card-block:hover a {
    color: #f81788;
}
/* back home */
.backHome {
    position: absolute;
    width: 150px;
    height: 40px;
    z-index: 10000;
    top: 0;
}
